//kubo-artifacts-712453960711.d.codeartifact.us-east-1.amazonaws.com/npm/kubo-artifacts/:always-auth=true
//registry.npmjs.org/:always-auth=false
@kds/kdsr:registry=https://kubo-artifacts-712453960711.d.codeartifact.us-east-1.amazonaws.com/npm/kubo-artifacts/
//kubo-artifacts-712453960711.d.codeartifact.us-east-1.amazonaws.com/npm/kubo-artifacts/:_authToken=${CODEARTIFACT_AUTH_TOKEN}